<a
  *ngIf="owner !== '0x000000000000000000000000000000000000dEaD'"
  [routerLink]="id ? ['/details/' + id] : []"
  class="c-card"
  [ngClass]="{ auction: auction === true }"
>
  <figure class="c-card__figure">
    <lib-ngx-image-zoom
      *ngIf="!isVideo && view === 'details'"
      class="c-card__figure__video"
      [zoomMode]="hover"
      [thumbImage]="image"
      [src]="image"
    ></lib-ngx-image-zoom>
    <img
      *ngIf="!isVideo && view !== 'details'"
      class="c-card__figure__video"
      [ngClass]="{
        shadow_card: physical,
        custom_border: customBorder
      }"
      [src]="image"
      alt="image"
    />

    <video
      *ngIf="isVideo"
      ref="videoRef"
      class="c-card__figure__video"
      autoplay
      muted
      playsinline
      loop
      [src]="image"
    ></video>

    <div
      *ngIf="auction && endDate && view !== 'profile'"
      class="c-card__countdown"
    >
      <countdown #cd [config]="config"></countdown>
      <span class="ml-2">Left</span>
      <span class="icon auctions p-0"></span>
    </div>
  </figure>
  <div *ngIf="view !== 'details'" class="c-card__body">
    <div class="c-card__top">
      <h1 class="c-card__title">
        <span>{{ name }}</span>
      </h1>
      <div class="c-card__price" *ngIf="price">
        <span class="mr-2">{{ price }} </span>
        <span *ngIf="symbol == 'USDT'" class="icon usdt"></span>
      </div>
    </div>
    <div *ngIf="description" class="c-card__description">
      <p>{{ description.description }}</p>
    </div>
    <div *ngIf="!description" class="c-card__description">
      <p>No description has been created for this NFT.</p>
    </div>
  </div>
  <div class="c-card__footer">
    <div *ngIf="view !== 'details'" class="mb-4">
      <ul class="c-card__list">
        <li>
          <span class="bold">Publisher: </span>
          <span *ngIf="description && description.publisher">{{
            description.publisher
          }}</span>
          <span *ngIf="description && !description.publisher">Unset</span>
        </li>
        <li>
          <span class="bold">Edition: </span>
          <span *ngIf="description && description.edition">{{
            description.edition
          }}</span>
          <span *ngIf="description && !description.edition">Unset</span>
        </li>
        <li>
          <span class="bold">Year: </span>
          <span *ngIf="description && description.year">{{
            description.year
          }}</span>
          <span *ngIf="description && !description.year">Unset</span>
        </li>
        <li>
          <span class="bold">Graded: </span>
          <span *ngIf="description && description.graded">{{
            description.graded
          }}</span>
          <span *ngIf="description && !description.graded">Unset</span>
        </li>
        <li>
          <span class="bold">Population: </span>
          <span *ngIf="description && description.population">{{
            description.population
          }}</span>
          <span *ngIf="description && !description.population">Unset</span>
        </li>
      </ul>
    </div>
    <div class="c-card__footer-inner">
      <div *ngIf="physical && view !== 'details'" class="d-flex flex-row">
        <span class="c-card__safe icon safe mr-2"></span>
        <span class="c-card__info">Digi Safe</span>
      </div>
      <div *ngIf="view !== 'details'" class="d-flex flex-row">
        <span class="c-card__safe icon ethereum mr-2"></span>
        <span class="c-card__info">ERC-20</span>
      </div>
      <div
        *ngIf="owner && ownerUsername && view !== 'details'"
        class="d-flex flex-row"
      >
        <span class="c-card__safe icon collections mr-2"></span>
        <span class="c-card__info"> {{ ownerUsername }}</span>
      </div>
    </div>
    <div
      *ngIf="
        owner !== address &&
        price &&
        !auction &&
        view !== 'details' &&
        view !== 'profile'
      "
    >
      <a class="c-card__button btn btn-primary">BUY NOW</a>
    </div>
    <div
      *ngIf="
        owner !== address && auction && view !== 'details' && view !== 'profile'
      "
    >
      <button class="c-card__button btn btn-primary">
        <span *ngIf="price != null && !auction">BUY NOW</span>
        <span *ngIf="price != null && auction">BID NOW</span>
        <span *ngIf="price == null">DETAILS</span>
      </button>
    </div>
    <!--  <div
      *ngIf="!auction && !price && view !== 'details' && view !== 'profile'"
      class="c-card__arrow"
    >
      <span class="icon arrow mr-2 ml-auto"></span>
    </div> -->
    <!--   <a
      *ngIf="
        owner &&
        !ownerUsername &&
        owner !== '0x000000000000000000000000000000000000dEaD'
      "
      [routerLink]="['/profile', owner]"
      class="creator"
    >
      Owner Profile
    </a> -->
    <span
      *ngIf="owner === '0x000000000000000000000000000000000000dEaD'"
      class="creator"
    >
      Burned
    </span>
  </div>
</a>
